<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>speakers</title>



  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/adminProfileStyle.css" rel="stylesheet">

  <script src="/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
  <script src="/semantic-ui/semantic.min.js"></script>
  <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>


</head>
<body>

    <!-- Navigation -->
    <header>
        <%- include("../partials/header")-%>
    </header>

    <script>
      $( function() {
        $("#mainspeakerSelect").change(function(){
          let childs=document.querySelector('#otherSpeakersSelect .menu').children;
            $(childs).show();
            var value = $('#mainspeakerOptions').val();
            debugger
            for(i=0;i<childs.length;i++){
                  if(childs[i].dataset.value==value){
                    $(childs[i]).hide();
                  }
            }        
          })
        $("#otherSpeakersSelect").change(function(e){
            let childs=document.querySelector('#mainspeakerSelect .menu').children;
            $(childs).show();
            var values = $('#otherspeakerOptions').val();
            for(i=0;i<childs.length;i++){
                values.forEach(value=>{
                  if(childs[i].dataset.value==value){
                    $(childs[i]).hide();
                  }
                })               
            }
        }) 
      });  
    </script>

      <div class="container-fluid">
          <% if(message['registrationError']){ %>
            <div class="alert alert-danger" role="alert">
                <strong><%=message['registrationError']%></strong> 
            </div>
        <% } %>
        <form class="ui form" action="/events/add" method="POST">
        <div class="field">
          <label for="InputID">ID</label>
          <input type="text" class="form-control" id="InputID" aria-describedby="IDHelp" placeholder="Enter ID" name="_id" required>
          <small id="IDHelp" class="form-text text-muted">The ID of the event</small>
        </div>
        <div class="field">
          <label for="InputTitle">title</label>
          <input type="text" class="form-control" id="InputTitle" placeholder="Event title" name="title" required pattern="[A-Za-z]+">
        </div>
        <div class="field">
          <label for="InputDate">Event date</label>
            <div class="ui calendar" id="calendar">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" name="eventDate" placeholder="Date" required >
                </div>
              </div>

          <!-- <input type="text" class="form-control" id="InputDate" placeholder="Event Date" name="eventDate"> -->
        </div>
        <div class="field" id="mainspeakerSelect">
                <label for="mainspeakerSelect">main speaker</label>
                <select id="mainspeakerOptions" class="ui selection dropdown"mainspeakerSelect name="mainSpeaker">
                <%data.forEach((speaker)=>{%>
                  <option value="<%=speaker._id%>"><%=speaker.fullname%></option>
                <%})%>  
                </select>
              </div>
              <div class="field" id="otherSpeakersSelect">
                  <label for="otherSpeakersSelect">Other speakers</label>
                <select id="otherspeakerOptions" name="otherSpeakers" class="ui fluid dropdown" multiple="" >
                    <option value="" disabled selected >other speakers</option>
                    <%data.forEach((speaker)=>{ %>
                      <option value="<%=speaker._id%>"><%=speaker.fullname%></option>
                    <%})%> 
                  </select>
              </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>  
    <%- include("../partials/footer")-%>
        
      <script>
          $('.ui.dropdown').dropdown();
          $('#calendar').calendar({
              type: 'date'
  });
          </script>

    </body>
</html>