<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>speakers</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/adminProfileStyle.css" rel="stylesheet">
  
  <script src="/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
  <script src="/semantic-ui/semantic.min.js"></script>
  <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>


</head>
<body>

    <!-- Navigation -->
    <header>
        <%- include("../partials/header")-%>
    </header>
    <script>
      $( function() {
        $("#mainspeakerSelect").change(function(){
          let childs=document.querySelector('#otherSpeakersSelect .menu').children;
            $(childs).show();
            var value = $('#mainspeakerOptions').val();
            debugger
            for(i=0;i<childs.length;i++){
                  if(childs[i].dataset.value==value){
                    $(childs[i]).hide();
                  }
            }        
          })
        $("#otherSpeakersSelect").change(function(e){
            let childs=document.querySelector('#mainspeakerSelect .menu').children;
            $(childs).show();
            var values = $('#otherspeakerOptions').val();
            for(i=0;i<childs.length;i++){
                values.forEach(value=>{
                  if(childs[i].dataset.value==value){
                    $(childs[i]).hide();
                  }
                })               
            }
        }) 
      });
    </script>

      <div class="container">
        <form class="ui form" action="/events/update" method="POST">
        <div class="field">
          <label for="InputID">ID</label>
          <input type="text" id="InputID" aria-describedby="IDHelp" placeholder="Enter ID" name="_id" value="<%=event._id%>" readonly>
          <small id="IDHelp" class="form-text text-muted">The ID of the event</small>
        </div>
        <div class="field">
          <label for="InputTitle">title</label>
          <input type="text" id="InputTitle" placeholder="Event title" name="title" value="<%=event.title%>" pattern="[A-Za-z]+">
        </div>
        <div class="field">
            <label for="InputDate">Event date</label>
            <div class="ui calendar" id="calendar">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" name="eventDate" placeholder="Date" value="<%= Intl.DateTimeFormat('en-US',{ year: 'numeric', month: 'short', day:'2-digit' }).format(event.eventDate) %>">
                </div>
              </div>
        </div>
        <div class="field" id="mainspeakerSelect">
                <label for="mainspeakerSelect">main speaker</label>
                <select class="ui selection dropdown" id="mainspeakerOptions" name="mainSpeaker">
                <%data.forEach((speaker)=>{%>
                  <%if(event.mainSpeaker!=null&&event.mainSpeaker.fullname==speaker.fullname) { %>
                    <option selected value="<%=speaker._id%>"><%=speaker.fullname%></option>
                  <%} else {%>
                    <option value="<%=speaker._id%>"><%=speaker.fullname%></option>
                  <%}%>
                <%})%> 
                </select>
        </div>
              <div class="field" id="otherSpeakersSelect">
                  <label for="otherSpeakersSelect">Other speakers</label>
                <select name="otherSpeakers" class="ui fluid dropdown" multiple="" id="otherspeakerOptions">
                    <option value="" disabled selected class="text-info bg-danger">other speakers</option>
                    <%if(event.otherSpeakers!=null){%>
                    <%event.otherSpeakers.forEach((speaker)=>{%>
                      <option value="<%=speaker._id%>" selected><%=speaker.fullname%></option>
                    <%})%>
                    <%data.filter(speaker=>!event.otherSpeakers.find(otherSpeakers=>otherSpeakers._id===speaker._id)).forEach(speaker=>{%>
                      <option value="<%=speaker._id%>" ><%=speaker.fullname%></option>
                    <%})%>
                    <%}%>
                  </select>
              </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    <%- include("../partials/footer")-%>

        <script>
        $('.ui.dropdown').dropdown();
        $('#calendar').calendar({
            type: 'date'
});
        </script>
    
    </body>
</html>