<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>speakers</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <!-- Custom styles for this template -->
  <link href="/css/adminProfileStyle.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  
</head>
<body>

    <!-- Navigation -->
    <header>
        <%- include("../partials/header")-%>
    </header>

    <script src="/dist/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="/semantic-ui/semantic.min.js"></script>

    <script>
      $( function() {
        $( "#InputDate" ).datepicker();
        $("#mainspeakerSelect").change(function(){
            let selectedIndex=document.getElementById("mainspeakerSelect").options.selectedIndex;
            let selectedName=document.getElementById("mainspeakerSelect").item(selectedIndex);
            let childs=document.getElementById("otherSpeakersSelect").children;
            $(childs).show();
            for(i=0;i<childs.length;i++){
              if(childs[i].innerText==selectedName.innerText){
                $(childs[i]).hide();
                break;
              }               
            }
        })
        $("#otherSpeakersSelect").change(function(e){
            let childs=document.getElementById("mainspeakerSelect").children;
            $(childs).show();
            var values = $('#otherSpeakersSelect').val();
            for(i=0;i<childs.length;i++){
                values.forEach(value=>{
                  if(childs[i].value==value){
                    $(childs[i]).hide();
                  }
                })               
            }
        })
      });
    </script>


        <form action="/events/update" method="POST">
        <div class="form-group">
          <label for="InputID">ID</label>
          <input type="text" class="form-control" id="InputID" aria-describedby="IDHelp" placeholder="Enter ID" name="_id" value="<%=event._id%>">
          <small id="IDHelp" class="form-text text-muted">The ID of the event</small>
        </div>
        <div class="form-group">
          <label for="InputTitle">title</label>
          <input type="text" class="form-control" id="InputTitle" placeholder="Event title" name="title" value="<%=event.title%>">
        </div>
        <div class="form-group">
          <label for="InputDate">Event date</label>
          <input type="text" class="form-control" id="InputDate" placeholder="Event Date" name="eventDate" value="<%= Intl.DateTimeFormat('en-US',{ year: 'numeric', month: 'short', day:'2-digit' }).format(event.eventDate) %>">
        </div>
        <div class="form-group">
                <label for="mainspeakerSelect">main speaker</label>
                <select class="form-control" id="mainspeakerSelect" name="mainSpeaker">
                <%data.forEach((speaker)=>{%>
                  <%if(event.mainSpeaker!=null&&event.mainSpeaker.fullname==speaker.fullname) { %>
                    <option selected value="<%=speaker._id%>"><%=speaker.fullname%></option>
                  <%} else {%>
                    <option value="<%=speaker._id%>"><%=speaker.fullname%></option>
                  <%}%>
                <%})%> 
                </select>
              </div>
              <div class="form-group col-4">
                <select name="otherSpeakers" class="ui fluid dropdown" multiple="" id="otherSpeakersSelect">
                    <option value="" disabled selected class="text-info bg-danger">other speakers</option>
                    <%if(event.otherSpeakers!=null){%>
                    <%event.otherSpeakers.forEach((speaker)=>{%>
                      <option value="<%=speaker._id%>" selected><%=speaker.fullname%></option>
                    <%})%>
                    <%data.filter(speaker=>!event.otherSpeakers.find(otherSpeakers=>otherSpeakers._id===speaker._id)).forEach(speaker=>{%>
                      <option value="<%=speaker._id%>" ><%=speaker.fullname%></option>
                    <%})%>
                    <%}%>
                  </select>
              </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <script>
        $('.ui.dropdown').dropdown();
        </script>
    
    </body>
</html>